In [1]:
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
# read csv file
df = pd.read_csv("D:\OneDrive - NITT\Custom_Download\Trial.csv")

C:\Users\avitr\AppData\Local\Temp\ipykernel_23672\485318110.py:2: DtypeWarning: Columns (7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:\OneDrive - NITT\Custom_Download\Trial.csv")

In [3]:
# get all column names
cols = list(df)

In [4]:
df

       smlt   asn    sd   t2m  skt   sp  msl  ssrd strd  u10  v10  tp  tcc
0       tcc   v10  strd    tp  asn   sp  t2m   NaN  NaN  NaN  NaN NaN  NaN
1       tcc   asn   v10  strd   tp  msl  t2m   NaN  NaN  NaN  NaN NaN  NaN
2       asn   tcc   v10  strd   tp  msl  t2m  ssrd  NaN  NaN  NaN NaN  NaN
3       tcc   v10   t2m    tp  asn  msl  NaN   NaN  NaN  NaN  NaN NaN  NaN
4       tcc   v10  strd    tp  asn  msl  t2m   NaN  NaN  NaN  NaN NaN  NaN
...     ...   ...   ...   ...  ...  ...  ...   ...  ...  ...  ...  ..  ...
791731   sd   NaN   NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN NaN  NaN
791732   sd  smlt    tp   asn  skt  NaN  NaN   NaN  NaN  NaN  NaN NaN  NaN
791733   sd   NaN   NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN NaN  NaN
791734   sd  smlt    tp   asn  skt  NaN  NaN   NaN  NaN  NaN  NaN NaN  NaN
791735   sd   NaN   NaN   NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN NaN  NaN

[791736 rows x 13 columns]

In [5]:
len(cols)

13

In [6]:
# fill missing Value i.e NaN with empty string i.e ''
df = df.fillna('')

In [7]:
# create a empty dataframe to store the encoded value
df_new = pd.DataFrame([],columns=cols)

In [8]:
df_new

Empty DataFrame
Columns: [smlt, asn, sd, t2m, skt, sp, msl, ssrd, strd, u10, v10, tp, tcc]
Index: []

In [9]:
col_data = [0]
data = []

# iterate through all rows
for indx,line in tqdm(df.iterrows()):
    
    # make default values as zero for all columns
    encoding = dict.fromkeys(cols,0)
    for val in line.values:
        if val:
            
            # if value exist in row then make it 1
            encoding[val] = 1
            
    # store in a list
    data.append(encoding)

0it [00:00, ?it/s]

In [10]:
dict.fromkeys(cols,0) # just for understanding as to how it works

{'smlt': 0,
 'asn': 0,
 'sd': 0,
 't2m': 0,
 'skt': 0,
 'sp': 0,
 'msl': 0,
 'ssrd': 0,
 'strd': 0,
 'u10': 0,
 'v10': 0,
 'tp': 0,
 'tcc': 0}

In [11]:
# create a new dataframe from list of dictionary
data = pd.DataFrame(data)

In [12]:
data = data.fillna(0)

In [13]:
data = data.astype(int)

In [14]:
# export to csv file
data.to_csv('encoded_file.csv',index=False)