In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("D:\OneDrive - NITT\Custom_Download\DATAFRAME_1.xlsx")
df['flag'] = ''

In [3]:
new_df = df.groupby('value_date')['count'].count()
new_df = pd.DataFrame(new_df).reset_index()

In [4]:
for indx,line in new_df.iterrows():
    v_date = line['value_date']
    if line['count']>1:
        df.loc[df.value_date==v_date, 'flag'] = 'ISSUE'
    else:
        count = df[df.value_date==v_date]['count'].tolist()[0]
        if count>1:
            df.loc[df.value_date==v_date, 'flag'] = 'ISSUE'
        else:
            df.loc[df.value_date==v_date, 'flag'] = 'NON ISSUE'

In [5]:
df

  value_date sell_ccy_id  count   flag
0 2023-02-24         THB      3  ISSUE
1 2023-03-22         USD      5  ISSUE
2 2023-03-22         EUR      4  ISSUE
3 2023-03-22         CHF      2  ISSUE
4 2023-03-22         SEK      1  ISSUE
5 2023-03-22         THB      1  ISSUE
6 2023-05-25         THB      2  ISSUE