In [1]:
import pandas as pd

In [2]:
df_snow = pd.read_excel("D:\OneDrive - NITT\Custom_Download\Servicenow.xlsx")
df_emap = pd.read_excel("D:\OneDrive - NITT\Custom_Download\Emapps_1.xlsx")

In [3]:
df_snow

,Problem_DBIRS_EVENT_ID,Incident Reference Number,P,Q,Incident Technology Incident Ref
0,100,OPSIN999,LMFNL,CAC,INC200
1,101,OPSIN888,LMDSV,C A,INC301
2,102,OPSIN777,CADC,C A,INC500
3,201,OPSIN666,C LMDS,C ASLM,INC700
4,301,OPSPR781,CLADMC,CAM,INC800
5,999,OPSIN001,CMLASC,C L,INC900
6,788,OPSIN300,C D,CLMSA,INC901
7,345,OPSIN347,DS,C.A,INC1012
8,111,OPSPR200,C DC,C .AS,INC906
9,222,OPSIN900,C D,CLASM,INC801
10,333,OPSIN901,CA,CSAM C,INC892
11,444,OPSIN902,C,CSKAC,INC101

In [4]:
df_emap

    EMAPP_Event ID     Emapp_Reference ID         X       Y
0              100            DBIS-OR2022       ABC   DWDLW
1              101               OPSIN123      CKCN    SCSS
2              102               OPSIN456    LMACLA    CS C
3              103   Service Now OPSIN567       LX      MS
4              201  INC00229 and OPSIN790     LAKNC  CSALMC
5              202               OPSPR781       LX   CSALMC
6              203               OPSIN001      LAMC  CSAMC
7              301               OPSPR200    NCALCN     SAK
8              401                INC1012     CLMSA   CCNDC
9              501               OPSIN600   ALNCLAK    MSC
10             601   Service Now OPSIN300    CSAJBC   CKDCA
11             701               OPSIN799       NNF    CDAY

In [5]:
def merge(df_snow,df_emap):
    '''
    Make sure to enter the respective dataframe in the same sequence.
    
    df_snow: Servicenow Dataframe
    df_emap:Emapps Dataframe
    
    return: merged dataframe based on id,ref and inc
    '''
    df = pd.DataFrame([],columns=list(df_snow)+['X','Y'])
    for indx, line in df_snow.iterrows():
        x,y = None,None
        snow_id = line['Problem_DBIRS_EVENT_ID']
        if snow_id in df_emap['EMAPP_Event ID'].values:
            x,y = df_emap[df_emap['EMAPP_Event ID']==snow_id][['X','Y']].values.tolist()[0]
        else:
            ref_num = line['Incident Reference Number']
            temp = df_emap[df_emap['Emapp_Reference ID'].apply(lambda t: True if ref_num in t.split() else False)]
            if len(temp):
                x,y = temp[['X','Y']].values.tolist()[0]
            else:
                inc_num = line['Incident Technology Incident Ref']
                other_temp = df_emap[df_emap['Emapp_Reference ID'].apply(lambda t: True if inc_num in t.split() else False)]
                if len(other_temp):
                    x,y = other_temp[['X','Y']].values.tolist()[0]

        if x and y:
            df.loc[len(df)] = list(line) + [x,y]
            
    df = df[['Problem_DBIRS_EVENT_ID','Incident Reference Number','P','Q','X','Y','Incident Technology Incident Ref']]
    return df

In [6]:
merge(df_snow,df_emap)

,Problem_DBIRS_EVENT_ID,Incident Reference Number,P,Q,X,Y,Incident Technology Incident Ref
0,100,OPSIN999,LMFNL,CAC,ABC,DWDLW,INC200
1,101,OPSIN888,LMDSV,C A,CKCN,SCSS,INC301
2,102,OPSIN777,CADC,C A,LMACLA,CS C,INC500
3,201,OPSIN666,C LMDS,C ASLM,LAKNC,CSALMC,INC700
4,301,OPSPR781,CLADMC,CAM,NCALCN,SAK,INC800
5,999,OPSIN001,CMLASC,C L,LAMC,CSAMC,INC900
6,788,OPSIN300,C D,CLMSA,CSAJBC,CKDCA,INC901
7,345,OPSIN347,DS,C.A,CLMSA,CCNDC,INC1012
8,111,OPSPR200,C DC,C .AS,NCALCN,SAK,INC906