###  1. Find Duplicates: Given a list of numbers, find all the duplicate elements.

Sample data: [1, 2, 3, 1, 2, 4, 5, 4, 6]

### 2. Two Sum Problem: Given a list of numbers and a target number, find two numbers in the list that add up to the target.

Sample data: List of numbers - [2, 7, 11, 15], Target number - 9

### 3. Anagram Checking: Given two strings, check if they are anagrams (i.e., they contain the same characters with the same frequency).

Sample data: String 1 - "listen", String 2 - "silent"

### 4. Building a Cache: Implement a least-recently-used (LRU) cache that has a specified capacity. When the cache is full, the least recently used item should be removed.

This problem doesn't need a specific dataset. It's about creating an LRUCache class that supports get(key) and put(key, value) operations.

### 5. Group Anagrams: Given a list of strings, group anagrams together.

Sample data: ["eat","tea","tan","ate","nat","bat"]

### 6. First Unique Character: Given a string, find the first non-repeating character in it.

Sample data: "leetcode"

###  1. Find Duplicates: Given a list of numbers, find all the duplicate elements.

Sample data: [1, 2, 3, 1, 2, 4, 5, 4, 6]

In [2]:
from collections import Counter

In [4]:
d = Counter([1, 2, 3, 1, 2, 4, 5, 4, 6])
d

Counter({1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 6: 1})

In [6]:
d1 = {}

In [7]:
d2 = dict()

In [9]:
type(d2)

dict

In [10]:
d = {'Key1':12,'key2':23,'key3':41}

In [11]:
d

{'Key1': 12, 'key2': 23, 'key3': 41}

In [12]:
d.keys()

dict_keys(['Key1', 'key2', 'key3'])

In [13]:
d.values()

dict_values([12, 23, 41])

In [14]:
list(d)

['Key1', 'key2', 'key3']

In [23]:
for k in d:
    print(k,d[k])

Key1 12
key2 23
key3 41

In [ ]:
for k in d:
    print(k,d[k])

In [16]:
d

{'Key1': 12, 'key2': 23, 'key3': 41}

In [19]:
d['key2']

23

In [24]:
d.items()

dict_items([('Key1', 12), ('key2', 23), ('key3', 41)])

In [57]:
d

{'Key1': 12, 'key2': 23, 'key3': 41}

In [65]:
d['key1'] = 171

In [67]:
d

{'key2': 23, 'key3': 41, 'key4': 100, 'key1': 171}

In [69]:
d1 = {'key2':23,'key4':100}

In [78]:
set(list(d)) - set(list(d1))

{'key1', 'key3'}

In [79]:
set(list(d))

{'key1', 'key2', 'key3', 'key4'}

In [80]:
 set(list(d1))

{'key2', 'key4'}

In [84]:
for i in d:
    print(i)

key2
key3
key4
key1

In [88]:
d

{'key2': 23, 'key3': 41, 'key4': 100, 'key1': 171}

In [102]:
x = {k:d[k] for k in d if k in d1}
x

{'key2': 23, 'key4': 100}

In [103]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [ ]:
{for}

In [101]:
d['key2']

23

In [90]:
d1

{'key2': 23, 'key4': 100}

In [63]:
del d['Key1']

In [64]:
d

{'key2': 23, 'key3': 41, 'key4': 100}

In [61]:
for i, k in d.items():
    if d[key]

['Key1', 'key2', 'key3', 'key4']

In [62]:
for

SyntaxError: invalid syntax (1235331270.py, line 1)

In [27]:
for k,v in d.items():
    print(k,v)

Key1 12
key2 23
key3 41

In [54]:
for a,b,c in [(1,11,111),(2,22,111),(3,33,111)]:
    print(a,b,c)

1 11 111
2 22 111
3 33 111

In [56]:
for a in [(1,11,111),(2,22,111),(3,33,111)]:
    print(a)

(1, 11, 111)
(2, 22, 111)
(3, 33, 111)

In [50]:
for k in d.items():
    print(k) # edit here

('Key1', 12)
('key2', 23)
('key3', 41)

In [49]:
list(d.items())

[('Key1', 12), ('key2', 23), ('key3', 41)]

In [42]:
list(d.keys())[0]

'Key1'

In [45]:
list(d.values())[1]

23

In [105]:
import pandas as pd

In [109]:
d

{'key2': 23, 'key3': 41, 'key4': 100, 'key1': 171}

In [107]:
df = pd.DataFrame(d.items())

In [108]:
df

      0    1
0  key2   23
1  key3   41
2  key4  100
3  key1  171

In [110]:
d = [{'a':2,'b':4},{'a':21,'b':14},{'a':22,'b':34},{'a':244,'b':334}]

In [111]:
d

[{'a': 2, 'b': 4},
 {'a': 21, 'b': 14},
 {'a': 22, 'b': 34},
 {'a': 244, 'b': 334}]

In [112]:
pd.DataFrame(d)

     a    b
0    2    4
1   21   14
2   22   34
3  244  334

In [128]:
d = {'A':'green','B':'red','C':'Yellow','D':'Blue'}

In [151]:
len(d)

4

In [146]:
list(d.values()).index('Yellow')

2

In [163]:
list(d.values()).index('red')

1

In [154]:
df = pd.DataFrame([],index=list(d),columns=list(d.values()))

In [156]:
df.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [161]:
d['A']

'green'

In [159]:
for i in df.index:
    temp = [0]*len(d)
    indx_hot = list(d.values()).index(d[i])
    temp[indx_hot] = 1 
    df.loc[i] = temp

In [160]:
df

  green red Yellow Blue
A     1   0      0    0
B     0   1      0    0
C     0   0      1    0
D     0   0      0    1

In [137]:
list(d.values())

['green', 'red', 'Yellow', 'Blue']

In [138]:
c = [0,0,0,0]

In [139]:
c

[0, 0, 0, 0]

In [134]:
df

  green  red Yellow Blue
A     0    0      0    1
B     1    0      0    0
C   NaN  NaN    NaN  NaN
D   NaN  NaN    NaN  NaN

In [ ]:
for i, k in d.items():
    if k

In [140]:
d['A']

'green'

In [130]:
df.loc['A'] = [0,0,0,1]

In [132]:
df.loc['B'] = [1,0,0,0]

In [133]:
df

  green  red Yellow Blue
A     0    0      0    1
B     1    0      0    0
C   NaN  NaN    NaN  NaN
D   NaN  NaN    NaN  NaN