In [5]:
import pandas as pd

In [6]:
df_Sanitization = pd.read_csv('safelySanitization.csv')
df_HandWashing = pd.read_csv('basicHandWashing.csv')
df_Drinking = pd.read_csv('basicDrinkingWaterServices.csv')
df_BasicSanitization = pd.read_csv('atLeastBasicSanitizationServices.csv')

In [7]:
df_Sanitization.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Population using safely managed sanitation ser...,2017,Total,39.86
1,Albania,Population using safely managed sanitation ser...,2017,Urban,40.17
2,Albania,Population using safely managed sanitation ser...,2017,Rural,39.39
3,Albania,Population using safely managed sanitation ser...,2016,Total,39.85
4,Albania,Population using safely managed sanitation ser...,2016,Urban,40.17

In [9]:
df_HandWashing.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population with basic handwashing facilities a...,2017,Total,37.75
1,Afghanistan,Population with basic handwashing facilities a...,2017,Urban,63.58
2,Afghanistan,Population with basic handwashing facilities a...,2017,Rural,29.02
3,Afghanistan,Population with basic handwashing facilities a...,2016,Total,37.67
4,Afghanistan,Population with basic handwashing facilities a...,2016,Urban,63.58

In [10]:
df_Drinking.head()

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Population using at least basic drinking-water...,57.32
1,Afghanistan,2016,Population using at least basic drinking-water...,54.84
2,Afghanistan,2015,Population using at least basic drinking-water...,52.39
3,Afghanistan,2014,Population using at least basic drinking-water...,49.96
4,Afghanistan,2013,Population using at least basic drinking-water...,47.56

In [11]:
df_BasicSanitization.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population using at least basic sanitation ser...,2017,Total,43.42
1,Afghanistan,Population using at least basic sanitation ser...,2017,Urban,62.26
2,Afghanistan,Population using at least basic sanitation ser...,2017,Rural,37.05
3,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
4,Afghanistan,Population using at least basic sanitation ser...,2016,Urban,59.92

# Q1

In [42]:
country_1 = set(df_Sanitization['Location'])
country_2 = set(df_HandWashing['Location'])

country_3 = set(df_Drinking['Location'])
country_4 = set(df_BasicSanitization['Location'])

In [43]:
country_1 = {c.title() for c in country_1}
country_2 = {c.title() for c in country_2}
country_3 = {c.title() for c in country_3}
country_4 = {c.title() for c in country_4}

In [44]:
len(country_1)

100

In [45]:
len(country_2)

97

In [46]:
len(country_3)

195

In [47]:
len(country_4)

195

In [48]:
overlapping_country = country_1.intersection(country_2).intersection(country_3).intersection(country_4)

In [49]:
len(overlapping_country)

32

In [50]:
overlapping_country

{'Algeria',
 'Armenia',
 'Azerbaijan',
 'Bangladesh',
 'Bolivia (Plurinational State Of)',
 'Bosnia And Herzegovina',
 'Colombia',
 'Cuba',
 'Ecuador',
 'Egypt',
 'Ethiopia',
 'Honduras',
 'India',
 'Iraq',
 'Kazakhstan',
 "Lao People'S Democratic Republic",
 'Mali',
 'Mexico',
 'Mozambique',
 'Niger',
 'Nigeria',
 'Paraguay',
 'Peru',
 'Philippines',
 'Republic Of Moldova',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Tunisia',
 'United Republic Of Tanzania',
 'Yemen',
 'Zimbabwe'}

In [52]:
df_overlap = pd.DataFrame({'Overlapping_country':list(overlapping_country)})

In [54]:
df_overlap.to_csv('overlap.csv',index=False)

# Q2

In [59]:
df_Sanitization = df_Sanitization[df_Sanitization['Dim1']=='Total']
df_HandWashing = df_HandWashing[df_HandWashing['Dim1']=='Total']
df_BasicSanitization = df_BasicSanitization[df_BasicSanitization['Dim1']=='Total']

In [60]:
df_Sanitization.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Population using safely managed sanitation ser...,2017,Total,39.86
3,Albania,Population using safely managed sanitation ser...,2016,Total,39.85
6,Albania,Population using safely managed sanitation ser...,2015,Total,39.84
9,Albania,Population using safely managed sanitation ser...,2014,Total,39.83
12,Albania,Population using safely managed sanitation ser...,2013,Total,39.60

In [61]:
df_HandWashing.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population with basic handwashing facilities a...,2017,Total,37.75
3,Afghanistan,Population with basic handwashing facilities a...,2016,Total,37.67
6,Afghanistan,Population with basic handwashing facilities a...,2015,Total,37.59
9,Afghanistan,Population with basic handwashing facilities a...,2014,Total,37.52
12,Afghanistan,Population with basic handwashing facilities a...,2013,Total,37.44

In [62]:
df_BasicSanitization.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population using at least basic sanitation ser...,2017,Total,43.42
3,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
6,Afghanistan,Population using at least basic sanitation ser...,2015,Total,40.71
9,Afghanistan,Population using at least basic sanitation ser...,2014,Total,39.37
12,Afghanistan,Population using at least basic sanitation ser...,2013,Total,38.06

In [71]:
from tqdm.notebook import tqdm

In [72]:
df_overlap_cnt_yr = pd.DataFrame([],columns=['Country','Year','Tooltip1','Tooltip2','Tooltip3','Tooltip4'])
for indx1,row1 in tqdm(df_Sanitization.iterrows()):
        for indx2,row2 in df_HandWashing.iterrows(): 
            if (row1['Location'] == row2['Location']) and (row1['Period'] == row2['Period']):
                for indx3,row3 in df_Drinking.iterrows():
                    if (row1['Location'] == row3['Location']) and (row1['Period'] == row3['Period']):
                        for indx4,row4 in df_BasicSanitization.iterrows():
                            if (row1['Location'] == row4['Location']) and (row1['Period'] == row4['Period']):
                                df_overlap_cnt_yr.loc[len(df_overlap_cnt_yr)] = [row1['Location'],
                                                                                 row1['Period'],
                                                                                 row1['First Tooltip'],
                                                                                 row2['First Tooltip'],
                                                                                 row3['First Tooltip'],
                                                                                 row4['First Tooltip']]

0it [00:00, ?it/s]

In [74]:
df_overlap_cnt_yr.to_csv('overlap_country_year.csv',index=False)

In [75]:
df_overlap_cnt_yr

                         Country  Year  Tooltip1  Tooltip2  Tooltip3  Tooltip4
0                        Algeria  2017     17.69     83.74     88.69     87.59
1                        Algeria  2016     17.71     83.65     88.69     87.54
2                        Algeria  2015     17.74     83.56     88.69     87.50
3                        Algeria  2014     17.81     83.47     88.33     87.33
4                        Algeria  2013     17.88     83.37     87.98     87.16
..                           ...   ...       ...       ...       ...       ...
185  United Republic of Tanzania  2016     24.28     47.79     40.81     28.39
186  United Republic of Tanzania  2015     23.18     47.63     39.14     26.87
187  United Republic of Tanzania  2014     22.07     47.47     37.48     25.35
188  United Republic of Tanzania  2013     20.96     47.31     35.84     23.83
189  United Republic of Tanzania  2012     19.84     47.15     34.22     22.32

[190 rows x 6 columns]