In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("D:\OneDrive - NITT\Custom_Download\myarabicdbexcel.xlsx",header=None)

In [8]:
df[1].isna().sum()

2812

In [9]:
df.shape

(2841, 2)

In [12]:
df

                                                      0       1
0     الشحنً ممتازُ باقل من ١٠ ايام ,, عملوا الجهاز ...  إيجابي
1     باختصار شديد ( مشاكل كثيرة )\n\nراح تدفع مبلغ ...    سلبي
2     المنتج ممتاز و جديد و انصح به وبصراحه تعامل ال...  إيجابي
3     \nالإعدادات التلقائية عند فتح الجهاز هي اللي ت...    سلبي
4     الكمبيوتر المحمول كويس ولكن فيه بعض البطئ\nوال...  إيجابي
...                                                 ...     ...
2836   منتج أصلي و لكن لم يأتي بتغليف المصنع البلاستيكي     NaN
2837             جهاز رائع, التوصيل كان في الوقت المحدد     NaN
2838  ممتاز مقارنة مع السعر حيث لم اجد سعر اقل في اي...     NaN
2839                     ممتاز حدا وتوصيل سريع شكرا سوق     NaN
2840  لا انصح به\n ايجابيات   هذا المنتج:\nالكاميرا\...     NaN

[2841 rows x 2 columns]

In [13]:
# NEW CODE

In [16]:
df = pd.read_csv("D:\OneDrive - NITT\Custom_Download\ABSA.csv")

In [17]:
df

                                                  review  ratings
0      Wow superb I love it❤️👍 battery backup so nice 👍👍      5.0
1      Mobile So Good In Range Redmi 9a Has Miui 12 L...      4.0
2      Wonderful device and smart phone best camera b...      5.0
3      Very good mobile. Value for money. Battery bac...      5.0
4                    Really great.... value for money...      5.0
...                                                  ...      ...
53488                                    Very nice phone      5.0
53489             Amazing phone with great Performance..      5.0
53490  There is some problems , sometimes keep restar...      5.0
53491  Worthless photo not work properly.Don't buy th...      NaN
53492  I gifted this phone to my mother but there are...      NaN

[53493 rows x 2 columns]

In [22]:
def label(y):
    if y == 5:
        return 1
    elif y == 4:
        return 1
    else:
        return 0
    
from tqdm import tqdm

tqdm.pandas()

df['y'] = df.ratings.progress_map(label)

100%|█████████████████████████████████████████████████████████████████████| 53493/53493 [00:00<00:00, 299743.23it/s]

In [23]:
df['y'].value_counts()

1    44751
0     8742
Name: y, dtype: int64

In [27]:
x1 = df[df['y']==1].sample(8742)
x2 = df[df['y']==0]

In [29]:
df = pd.concat([x1,x2])

In [33]:
df.reset_index(drop=True,inplace=True)

In [34]:
df

                                                  review  ratings  y
0                  Very good quality picture you can see      5.0  1
1                                                   Nice      5.0  1
2                                                   Good      5.0  1
3                                                    .ok      5.0  1
4                                       Valuable product      5.0  1
...                                                  ...      ... ..
17479                                           Not good      NaN  0
17480  So this phone is like Even Odd Scheme, one Eve...      NaN  0
17481  After one year new update totally damaged my p...      NaN  0
17482  Worthless photo not work properly.Don't buy th...      NaN  0
17483  I gifted this phone to my mother but there are...      NaN  0

[17484 rows x 3 columns]

In [43]:
!pip install demoji

Collecting demoji

WARNING: Ignoring invalid distribution -atplotlib (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for pyyaml: [Errno 2] No such file or directory: 'c:\\users\\avitr\\anaconda3\\lib\\site-packages\\PyYAML-5.4.1.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -atplotlib (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\avitr\anaconda3\lib\site-packages)

  Downloading demoji-1.1.0-py3-none-any.whl (42 kB)
                                              0.0/42.9 kB ? eta -:--:--
     ---------                                10.2/42.9 kB ? eta -:--:--
     ---------                                10.2/42.9 kB ? eta -:--:--
     ---------------------------            30.7/42.9 kB 187.9 kB/s eta 0:00:01
     -------------------------------------- 42.9/42.9 kB 232.9 kB/s eta 0:00:00
Installing collected packages: demoji
Successfully installed demoji-1.1.0

In [45]:
import re
import unicodedata as uni

def remove_url(text):
    text = re.sub(r"http\S+", "", text)
    return text

import demoji


def handle_emoji(string):
    emojis = demoji.findall(string)

    for emoji in emojis:
        string = string.replace(emoji, " " + emojis[emoji].split(":")[0])

    return string

def word_tokenizer(text):
    text = text.lower()
    text = text.split()

    return text

import spacy

sp = spacy.load("en_core_web_sm")

def lemmatization(text):

    text = " ".join(text)
    token = sp(text)

    text = [word.lemma_ for word in token]
    return text

from nltk.corpus import stopwords

en_stopwords = set(stopwords.words('english'))

def remove_stopwords(text):
    text = [word for word in text if word not in en_stopwords]
    return text


def preprocessing(text):
    
    text = remove_url(text) 
    text = uni.normalize('NFKD', text)
    text = handle_emoji(text)
    text = text.lower() 
    text = re.sub(r'[^\w\s]', '', text)
    text = word_tokenizer(text)
    text = lemmatization(text)
    text = remove_stopwords(text)
    text = " ".join(text)

    return text

In [46]:
df['clean_review'] = df['review'].progress_map(preprocessing)

100%|█████████████████████████████████████████████████████████████████████████| 17484/17484 [05:58<00:00, 48.72it/s]

In [47]:
df

,review,ratings,y,clean_review
0,Very good quality picture you can see,5.0,1,good quality picture see
1,Nice,5.0,1,nice
2,Good,5.0,1,good
3,.ok,5.0,1,ok
4,Valuable product,5.0,1,valuable product
...,...,...,...,...
17479,Not good,NaN,0,good
17480,"So this phone is like Even Odd Scheme, one Eve...",NaN,0,phone like even odd scheme one even day speake...
17481,After one year new update totally damaged my p...,NaN,0,one year new update totally damage phone board go
17482,Worthless photo not work properly.Don't buy th...,NaN,0,worthless photo work properlydont buy product
17483,I gifted this phone to my mother but there are...,NaN,0,I gift phone mother problem software relatedph...

In [49]:
df[['clean_review','y']].to_csv('ABSA_cleaned.csv',index=False)

In [50]:
df = pd.read_csv("ABSA_cleaned.csv")

In [51]:
df

                                            clean_review  y
0                               good quality picture see  1
1                                                   nice  1
2                                                   good  1
3                                                     ok  1
4                                       valuable product  1
...                                                  ... ..
17479                                               good  0
17480  phone like even odd scheme one even day speake...  0
17481  one year new update totally damage phone board go  0
17482      worthless photo work properlydont buy product  0
17483  I gift phone mother problem software relatedph...  0

[17484 rows x 2 columns]

In [54]:
df.dropna(inplace=True)

In [55]:
df['clean_review1'] = df['clean_review'].progress_map(word_tokenizer)

100%|█████████████████████████████████████████████████████████████████████| 17482/17482 [00:00<00:00, 139127.57it/s]

In [57]:
df

,clean_review,y,clean_review1
0,good quality picture see,1,"[good, quality, picture, see]"
1,nice,1,[nice]
2,good,1,[good]
3,ok,1,[ok]
4,valuable product,1,"[valuable, product]"
...,...,...,...
17479,good,0,[good]
17480,phone like even odd scheme one even day speake...,0,"[phone, like, even, odd, scheme, one, even, da..."
17481,one year new update totally damage phone board go,0,"[one, year, new, update, totally, damage, phon..."
17482,worthless photo work properlydont buy product,0,"[worthless, photo, work, properlydont, buy, pr..."
17483,I gift phone mother problem software relatedph...,0,"[i, gift, phone, mother, problem, software, re..."

In [59]:
data_words = df['clean_review1'].values.tolist()
len(data_words)

17482

In [61]:
import gensim.corpora as corpora

id2word = corpora.Dictionary(data_words)

texts = data_words

corpus = [id2word.doc2bow(text) for text in texts]

In [66]:
from gensim.models import LdaMulticore
from gensim.models import LdaModel
from pprint import pprint

num_topics = 5
# Build LDA model
lda_model = LdaMulticore(corpus=corpus, id2word=id2word,
                     num_topics=num_topics, iterations=400)


pprint(lda_model.print_topics())
doc_lda = lda_model[corpus]

[(0,
  '0.079*"good" + 0.031*"i" + 0.026*"camera" + 0.025*"phone" + 0.018*"mobile" '
  '+ 0.015*"nice" + 0.014*"battery" + 0.012*"bad" + 0.009*"price" + '
  '0.009*"quality"'),
 (1,
  '0.036*"phone" + 0.031*"i" + 0.030*"good" + 0.029*"product" + 0.017*"mobile" '
  '+ 0.016*"camera" + 0.016*"buy" + 0.013*"use" + 0.012*"nice" + '
  '0.011*"battery"'),
 (2,
  '0.063*"phone" + 0.031*"good" + 0.022*"camera" + 0.020*"i" + 0.017*"nice" + '
  '0.013*"quality" + 0.013*"performance" + 0.009*"hang" + 0.008*"problem" + '
  '0.008*"bad"'),
 (3,
  '0.045*"bad" + 0.037*"product" + 0.021*"super" + 0.019*"awesome" + '
  '0.016*"phone" + 0.015*"battery" + 0.014*"hang" + 0.014*"flipkart" + '
  '0.013*"face" + 0.013*"nice"'),
 (4,
  '0.036*"i" + 0.026*"phone" + 0.021*"work" + 0.020*"good" + 0.018*"camera" + '
  '0.018*"mobile" + 0.017*"battery" + 0.016*"ok" + 0.013*"quality" + '
  '0.011*"bad"')]

In [ ]:
# Phone
# Camera
# Battery
# Delivery
# Processor

In [67]:
from gensim.models import FastText
fasttext_model = FastText(data_words, vector_size= 100, window=1, min_count=1, workers=4,sg=1)

In [68]:
fasttext_model.wv.n_similarity("I really like the camera of this phone", "battery")

0.98291075

In [70]:
aspects = ["phone", "camera", "battery", "delivery", "processor"]

def get_similarity(text, aspect):
    try:
        text = " ".join(text)
        return fasttext_model.wv.n_similarity(text, aspect)
    except:
        return 0

In [71]:
for aspect in aspects:
    df[aspect] = df['clean_review1'].progress_map(lambda text: get_similarity(text, aspect))

100%|████████████████████████████████████████████████████████████████████████| 17482/17482 [00:26<00:00, 649.79it/s]
100%|████████████████████████████████████████████████████████████████████████| 17482/17482 [00:35<00:00, 496.51it/s]
100%|████████████████████████████████████████████████████████████████████████| 17482/17482 [00:24<00:00, 713.48it/s]
100%|████████████████████████████████████████████████████████████████████████| 17482/17482 [00:34<00:00, 511.80it/s]
100%|████████████████████████████████████████████████████████████████████████| 17482/17482 [00:34<00:00, 512.28it/s]

In [72]:
df.to_csv("ABSA_final.csv", index = False)

In [73]:
df = pd.read_csv("ABSA_final.csv")

In [74]:
df

,clean_review,y,clean_review1,phone,camera,battery,delivery,processor
0,good quality picture see,1,"['good', 'quality', 'picture', 'see']",0.949365,0.949827,0.957706,0.995328,0.954521
1,nice,1,['nice'],0.960566,0.945517,0.954633,0.995264,0.949115
2,good,1,['good'],0.895561,0.899404,0.898547,0.859619,0.897729
3,ok,1,['ok'],0.975651,0.970766,0.972447,0.942393,0.973183
4,valuable product,1,"['valuable', 'product']",0.964205,0.977417,0.978834,0.970550,0.980871
...,...,...,...,...,...,...,...,...
17477,good,0,['good'],0.895561,0.899404,0.898547,0.859619,0.897729
17478,phone like even odd scheme one even day speake...,0,"['phone', 'like', 'even', 'odd', 'scheme', 'on...",0.985405,0.976092,0.985047,0.989949,0.980353
17479,one year new update totally damage phone board go,0,"['one', 'year', 'new', 'update', 'totally', 'd...",0.992503,0.987863,0.994397,0.966734,0.990944
17480,worthless photo work properlydont buy product,0,"['worthless', 'photo', 'work', 'properlydont',...",0.985986,0.990836,0.994701,0.970670,0.995241
17481,I gift phone mother problem software relatedph...,0,"['i', 'gift', 'phone', 'mother', 'problem', 's...",0.985365,0.983058,0.989128,0.988279,0.987026