In [68]:
import pandas as pd
import numpy as np

stress_scenarios = pd.read_excel('Stress scenarios.xlsx')
im_scenarios = pd.read_excel('IM scenarios.xlsx')

def mahalanobis(x=None, data=None, cov=None):
    x_mu = x - np.mean(data)
    if not cov:
        cov = np.cov(data.values.T)
    inv_covmat = np.linalg.inv(cov)
    left = np.dot(x_mu, inv_covmat)
    mahal = np.dot(left, x_mu.T)
    return mahal.diagonal()

# I want to have one stress scenario + all IM scenarios per dataframe.
# 1. Iterate through the stress scenario index by using .index
# 2. Use df.loc[[i]], which selects the stress scenario row by the index
# 3. Concat the dataframe
df = []
new_df = []
for stress_scenario_row in stress_scenarios.index:
    try:
        result_df = pd.concat([stress_scenarios.loc[[stress_scenario_row]], im_scenarios], axis=0)
        result_df['mahalanobis'] = mahalanobis(x=result_df, data=result_df[['1Y', '5Y', '10Y', '30Y']])
        df_one_row = result_df.head(1)
        new_df.append(df_one_row)
        print(result_df)
        df.append(result_df)
    except Exception as e:
        df.append(result_df)
        print('error',e)

#Requirement is now to create a new dataframe that just selects the first row from each of the concatenated dataframes

error Singular matrix
error Singular matrix
   1Y  5Y  10Y  30Y  mahalanobis
2  -4  10    7   -3    13.714286
0   2   2    2    2    10.714286
1   3   3    3    3     4.928571
2   4   4    4    4     0.017857
3   5   5    5    5     0.071429
4   6   6    6    6     1.928571
5   7   7    7    7     0.000000
   1Y  5Y  10Y  30Y  mahalanobis
3  -2  -5   20   15     2.959821
0   2   2    2    2     2.151786
1   3   3    3    3     0.863839
2   4   4    4    4     0.198661
3   5   5    5    5     0.120536
4   6   6    6    6     0.562500
5   7   7    7    7     1.982143
   1Y  5Y  10Y  30Y  mahalanobis
4  18  -9   -8    9   -23.142857
0   2   2    2    2     1.660714
1   3   3    3    3     0.392857
2   4   4    4    4     0.642857
3   5   5    5    5     0.500000
4   6   6    6    6    -1.000000
5   7   7    7    7     4.857143
error Singular matrix

In [71]:
new_df[1]

   1Y  5Y  10Y  30Y  mahalanobis
3  -2  -5   20   15     2.959821