In [5]:
"""
Auswertung die für die eingelösten Geschenkgutscheine verwendet wird.
SG/25.06.2021
"""

import pandas as pd
import numpy as np

# Liste mit Wochennummern erstellen
week = []
for i in range(6, 53):
    week.append(i)

# Gutscheine, die im Versand eingelöst wurden, erscheinen mit Fil und verschobenen Feldern
filialliste = [6]

col = ['Filiale', 'Woche', 'Rec', 'Amount', 'LotId', 'LotName','Trans-ID']

# Einlesen des CSV-Files das in der Gutscheinverwaltung erstellt und
# via PrimalSQL in ein CSV-File importiert wurde
df_alle = pd.read_csv(r'D:\OneDrive - NITT\Custom_Download\waldermailing_fs_23.csv',
                      encoding='cp1252',
                      sep=','
                      )
# Wird gebraucht, damit die Reihenfolge bei den Gutscheinen im Versand stimmt
df_dummy = pd.read_csv(r'D:\OneDrive - NITT\Custom_Download\waldermailing_dummy.csv',
                       encoding='cp1252',
                       sep=';'
                       )
df_dummy.columns = col
df_alle.columns = col

df_versand = df_alle[df_alle['Filiale'].isin(filialliste)]
df_gut = df_alle[~df_alle['Filiale'].isin(filialliste)].copy()

# dummy wid angehängt, damit in der Excel-Tabelle die Werte in der richtigen Reihe stehen
df_versand_alle = df_versand.append(df_dummy)

df_versand_alle.info()

df_versand_alle["Amount_neu"] = df_versand.loc[:, ["Woche"]] / -100

df_versand_alle

df_gut['Amount_neu'] = np.where(df_gut.loc[:, ['Amount']] == -1000, 10.00, 20.00)
# df_gut['Woche'] = df_gut['Woche']
print(df_gut)

df_select = df_gut.loc[df_gut['Woche'].isin(week)]

df_weeks = df_select.pivot_table(index=['Woche'],
                                 columns=['LotId'],
                                 values=['Amount_neu'], fill_value=0,
                                 aggfunc='sum'
                                 )
df_weeks

df_shops = df_select.pivot_table(index=['Filiale'],
                                 columns=['LotId'],
                                 values=['Amount_neu'], fill_value=0,
                                 aggfunc='sum'
                                )
df_shops

<class 'pandas.core.frame.DataFrame'>
Int64Index: 518 entries, 27 to 5
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filiale   518 non-null    int64
 1   Woche     518 non-null    float64
 2   Rec       518 non-null    int64
 3   Amount    518 non-null    object
 4   LotId     518 non-null    int64
 5   LotName   6 non-null      object
 6   Trans-ID  6 non-null      float64
dtypes: float64(2), int64(3), object(2)
memory usage: 32.4+ KB
       Filiale  Woche  Rec  Amount  LotId  LotName    Trans-ID  Amount_neu
0          793   14.0    6   -1000    209     32.0  16432392.0        10.0
1          139   11.0    6   -1000    209     32.0  16404800.0        10.0
2          221   16.0    6   -1000    209     32.0  16444376.0        10.0
3          216   18.0    6   -1000    209     32.0  16455076.0        10.0
4          139   18.0    6   -1000    209     32.0  16455631.0        10.0
...        ...    ...  ...     ...    ...      ...         ...         ...
16513      114   22.0    6   -2000    214     32.0  16475479.0        20.0
16514      143   22.0    6   -1000    213     32.0  16475589.0        10.0
16515      143   22.0    6   -2000    214     32.0  16475617.0        20.0
16516      101   22.0    6   -2000    214     32.0  16475643.0        20.0
16517      102   22.0    6   -2000    214     32.0  16475687.0        20.0

[16006 rows x 8 columns]

C:\Users\avitr\AppData\Local\Temp\ipykernel_21192\2726695305.py:37: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_versand_alle = df_versand.append(df_dummy)

        Amount_neu
LotId          209    210  211   212  213   214
Filiale
101           2170   9030  350  1660  910  2220
102           3900   9000  740  1560  430   760
103            530   1680   70   260  460   860
105             20     20    0     0    0     0
107           1650   5320  740  2500  200   360
114           2350   6480  430  1280  860  2140
117           1700   4900  230   620  410   980
120           2780   8200  400  1880  390  1120
126           2910   7260  440   940  460   880
139            720   2400  130   640  180   460
141           2260   5020  610  1620  390   780
143            560   2080   60   300   30   220
210           1610   4600  100   440  130   320
215           4840  16720  510  2120  490  1300
216           1800   5360  260   900  310   600
221           2380   9500  540  2520  620  1400
224           1280   4580  150   540  380   900
228           2210   6320  230   600  380   780
233           2310   7020  290  1120  170   460
234           1340   4220   90   400  160   300
240           1130   3180  190   480  140   360
244            950   3600  170   760   50   100
246            890   2540   70   180  120   360
342            900   2820  140   520  300   680
408           2520   6200  130   480  860  1700
411           2860   6500  100   380  190   440
780             40     80   30    60   10     0
793            110    260   10     0    0     0

In [4]:
df_gut.dtypes

Filiale         int64
Woche         float64
Rec             int64
Amount          int64
LotId           int64
LotName       float64
Trans-ID      float64
Amount_neu    float64
dtype: object