In [101]:
import json
import pandas as pd

In [102]:
with open("response_ascensionCare.json") as fp:
    data2 = json.load(fp)

In [58]:
df = []
for i in range(len(data2['TransactionList'])):
    trans_dict = data2['TransactionList'][i]['AdditionalData']
    address_dict = {k['InfoName']:k['Value'] for k in trans_dict}
    df_temp = pd.DataFrame([address_dict])
    df.append(df_temp)
df = pd.concat(df)
df.reset_index(drop=True,inplace=True)

In [62]:
df.columns = ['AdditionalData.BillToLocation',
 'AdditionalData.Location',
 'AdditionalData.Facility',
 'AdditionalData.Department',
 'AdditionalData.PIN']

In [63]:
df

,AdditionalData.BillToLocation,AdditionalData.Location,AdditionalData.Facility,AdditionalData.Department,AdditionalData.PIN
0,22,US,AC,CS,6556
1,ty,sdf,IN,CA,6677
2,,,,,
3,,,,,
4,,,,,

In [ ]:
def reportlist(url, payload, headers):
#     response2 = requests.request("POST", url, headers=headers, data=payload)
#     print(response2.text)
    data2= json.loads(response2.text)
    print(len(data2))
    if len(data2.keys()) > 2 :
        df2 = pd.json_normalize(data2, record_path = ['TransactionList'], meta = ['Successful','Reason'])
        return df2
    else:
        return None

In [64]:
trans_dict = data2['TransactionList'][0]['AdditionalData']
address_dict = {k['InfoName']:k['Value'] for k in trans_dict}

In [65]:
address_dict

{'BillToLocation': '22',
 'Location': 'US',
 'Facility': 'AC',
 'Department': 'CS',
 'PIN': '6556'}

In [66]:
pd.json_normalize(address_dict)

  BillToLocation Location Facility Department   PIN
0             22       US       AC         CS  6556

In [67]:
data2['TransactionList'][0]

{'CompanyCode': 'AscensionCare',
 'CallerID': '+13177132798',
 'ClientId': 48359,
 'ClientName': 'Ascension Care Management',
 'UserId': 114032236,
 'UserName': 'Ascension Spiritual Care',
 'AudioVideo': 'Audio',
 'RequestType': 'Audio',
 'RequestId': 19006395,
 'SourceLanguage': 'English',
 'TargetLanguage': 'Spanish',
 'RequestTimeUTC': '2022-06-09 15:20:38',
 'WaitSeconds': 12,
 'ServiceMinutes': 1,
 'InterpreterId': '1088282',
 'Status': 'Serviced',
 'UnitPrice': 0.49,
 'Charge': 0.49,
 'AdditionalData': [{'InfoName': 'BillToLocation', 'Value': '22'},
  {'InfoName': 'Location', 'Value': 'US'},
  {'InfoName': 'Facility', 'Value': 'AC'},
  {'InfoName': 'Department', 'Value': 'CS'},
  {'InfoName': 'PIN', 'Value': '6556'}]}

In [71]:
del data2['TransactionList'][0]['AdditionalData']

In [74]:
data2['TransactionList'][0]['AdditionalData']

KeyError: 'AdditionalData'

In [73]:
{for iaddress_dict}

{'BillToLocation': '22',
 'Location': 'US',
 'Facility': 'AC',
 'Department': 'CS',
 'PIN': '6556'}

In [69]:
address_dict

{'BillToLocation': '22',
 'Location': 'US',
 'Facility': 'AC',
 'Department': 'CS',
 'PIN': '6556'}

In [79]:
d = data2['TransactionList'][0].copy()

In [82]:
del d['AdditionalData']

In [118]:
d

{'CompanyCode': 'AscensionCare',
 'CallerID': '+13147337600',
 'ClientId': 48359,
 'ClientName': 'Ascension Care Management',
 'UserId': 114032236,
 'UserName': 'Ascension Spiritual Care',
 'AudioVideo': 'Audio',
 'RequestType': 'Audio',
 'RequestId': 19027460,
 'SourceLanguage': 'English',
 'TargetLanguage': 'Spanish',
 'RequestTimeUTC': '2022-06-10 16:50:03',
 'WaitSeconds': 17,
 'ServiceMinutes': 7,
 'InterpreterId': '1091826',
 'Status': 'Serviced',
 'UnitPrice': 0.49,
 'Charge': 3.43,
 'AdditionalData': [{'InfoName': 'BillToLocation', 'Value': ''},
  {'InfoName': 'Location', 'Value': ''},
  {'InfoName': 'Facility', 'Value': ''},
  {'InfoName': 'Department', 'Value': ''},
  {'InfoName': 'PIN', 'Value': ''}],
 'AdditionalData.BillToLocation': '',
 'AdditionalData.Location': '',
 'AdditionalData.Facility': '',
 'AdditionalData.Department': '',
 'AdditionalData.PIN': ''}

In [116]:
list_df = []
for i in range(len(data2['TransactionList'])):
    trans_dict = data2['TransactionList'][i]['AdditionalData']
    address_dict = {k['InfoName']:k['Value'] for k in trans_dict}
    d1 = {'AdditionalData.'+k:address_dict[k]  for k in address_dict}
    d2 = data2['TransactionList'][i]
    d = {**d2,**d1}
    temp = pd.DataFrame([d])
    list_df.append(temp)
df = pd.concat(list_df)
df.reset_index(drop=True,inplace=True)

In [117]:
df

,CompanyCode,CallerID,ClientId,ClientName,UserId,UserName,AudioVideo,RequestType,RequestId,SourceLanguage,...,InterpreterId,Status,UnitPrice,Charge,AdditionalData,AdditionalData.BillToLocation,AdditionalData.Location,AdditionalData.Facility,AdditionalData.Department,AdditionalData.PIN
0,AscensionCare,+13177132798,48359,Ascension Care Management,114032236,Ascension Spiritual Care,Audio,Audio,19006395,English,...,1088282,Serviced,0.49,0.49,"[{'InfoName': 'BillToLocation', 'Value': '22'}...",22,US,AC,CS,6556
1,AscensionCare,+13147337524,48359,Ascension Care Management,114032236,Ascension Spiritual Care,Audio,Audio,19007894,English,...,1095592,Serviced,0.49,0.49,"[{'InfoName': 'BillToLocation', 'Value': 'ty'}...",ty,sdf,IN,CA,6677
2,AscensionCare,+13147337524,48359,Ascension Care Management,114032236,Ascension Spiritual Care,Audio,Audio,19008002,English,...,1094050,Serviced,0.49,6.37,"[{'InfoName': 'BillToLocation', 'Value': ''}, ...",,,,,
3,AscensionCare,+13147337600,48359,Ascension Care Management,114032236,Ascension Spiritual Care,Audio,Audio,19027213,English,...,1093761,Serviced,0.49,3.92,"[{'InfoName': 'BillToLocation', 'Value': ''}, ...",,,,,
4,AscensionCare,+13147337600,48359,Ascension Care Management,114032236,Ascension Spiritual Care,Audio,Audio,19027460,English,...,1091826,Serviced,0.49,3.43,"[{'InfoName': 'BillToLocation', 'Value': ''}, ...",,,,,

,CompanyCode,CallerID,ClientId,ClientName,UserId,UserName,AudioVideo,RequestType,RequestId,SourceLanguage,...,InterpreterId,Status,UnitPrice,Charge,AdditionalData,AdditionalData.BillToLocation,AdditionalData.Location,AdditionalData.Facility,AdditionalData.Department,AdditionalData.PIN
0,AscensionCare,+13177132798,48359,Ascension Care Management,114032236,Ascension Spiritual Care,Audio,Audio,19006395,English,...,1088282,Serviced,0.49,0.49,"[{'InfoName': 'BillToLocation', 'Value': '22'}...",22,US,AC,CS,6556