Packages needed to import

In [16]:
import math
import io
import os

import numpy as np
import pandas as pd
import scipy.stats as ss
import seaborn as sns
import matplotlib.pyplot as plt


from urllib.request import urlopen
import json
import plotly.express as px

Code that will let collab connect to Google Drive and import our csv's

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

pathname = "/content/drive/My Drive/"
os.chdir(pathname)

Mounted at /content/drive

Importing the hospitals.csv to this collab

In [25]:
filename = r"D:\OneDrive - NITT\Custom_Download\hospitals.csv"
dj = pd.read_csv(filename)

Importing the RuralAtlasData to this collab

In [21]:
filename = r"D:\OneDrive - NITT\Custom_Download\RuralAtlasData23.xlsx" 
dt = pd.read_excel(filename,sheet_name =None)

In [22]:
dt.keys()

dict_keys(['Read Me', 'Variable Name Lookup', 'People', 'Jobs', 'County Classifications', 'Income', 'Veterans'])

In [23]:
dt['People']

,FIPS,State,County,PopChangeRate1819,PopChangeRate1019,TotalPopEst2019,NetMigrationRate1019,NaturalChangeRate1019,Net_International_Migration_Rate_2010_2019,PopChangeRate0010,NetMigrationRate0010,NaturalChangeRate0010,Immigration_Rate_2000_2010,PopDensity2010,Under18Pct2010,Age65AndOlderPct2010,WhiteNonHispanicPct2010,BlackNonHispanicPct2010,AsianNonHispanicPct2010,NativeAmericanNonHispanicPct2010,HispanicPct2010,MultipleRacePct2010,NonHispanicWhitePopChangeRate0010,NonHispanicBlackPopChangeRate0010,NonHispanicAsianPopChangeRate0010,...,ForeignBornCaribPct,ForeignBornCaribNum,ForeignBornAfricaNum,ForeignBornAsiaNum,ForeignBornMexNum,LandAreaSQMiles2010,Age65AndOlderNum2010,TotalPop2010,Under18Num2010,Net_International_Migration_2000_2010,NaturalChangeNum0010,NetMigrationNum0010,TotalPopEst2012,TotalPopEst2013,TotalPopEst2010,TotalPopEst2014,TotalPopEst2011,Net_International_Migration_2010_2019,NaturalChange1019,TotalPopEst2015,TotalPopEst2016,TotalPopEst2017,NetMigration1019,TotalPopEst2018,TotalPopEstBase2010
0,0,US,United States,0.475,6.116,328239523,2.485,3.631,2.485,9.709135,NaN,NaN,NaN,87.416139,24.026733,13.042451,63.747497,12.206119,4.685128,0.727816,16.349255,2.917961,1.164094,11.011043,42.891263,...,1.335360,4335884.0,2256673.0,13641680.0,11250541.0,3.531905e+06,40267984,308745538,74181467,NaN,NaN,NaN,313830990,315993715,309321666,318301008,311556874,7685444.0,11232413.0,320635163,322941311,324985539,7685444.0,326687501,308758105
1,1000,AL,Alabama,0.317,2.461,4903185,1.059,1.402,0.809,7.479841,3.304431,3.302196,1.222931,94.376646,23.692919,13.762099,67.041401,26.035685,1.107530,0.542017,3.883101,1.490689,2.513997,8.204762,70.825131,...,0.143040,6975.0,9040.0,54464.0,49052.0,5.064533e+04,657792,4779736,1132459,54447.0,147019.5,147119.0,4815588,4830081,4785437,4841799,4799069,38731.0,67083.0,4852347,4863525,4874486,50665.0,4887681,4780125
2,1001,AL,Autauga,0.605,2.001,55869,0.686,1.315,-0.029,24.959355,11.867063,5.459894,-0.010222,91.802976,26.777959,11.995382,77.246156,17.582599,0.855766,0.397647,2.400542,1.592421,21.052178,29.173398,140.721649,...,0.130011,72.0,131.0,496.0,263.0,5.944361e+02,6546,54571,14613,-4.5,2403.5,5224.0,54954,54727,54773,54893,55227,-16.0,720.0,54864,55243,55390,376.0,55533,54597
3,1003,AL,Baldwin,2.469,21.911,223234,21.001,0.910,0.714,29.804508,26.166320,3.315716,1.584455,114.647647,22.987408,16.771185,83.504787,9.308425,0.735193,0.628755,4.384824,1.493979,25.922494,18.172320,152.354049,...,0.187004,398.0,276.0,1395.0,1766.0,1.589784e+03,30568,182265,41898,2239.5,4686.5,36984.0,190145,194885,183112,199183,186558,1307.0,1667.0,202939,207601,212521,38455.0,217855,182265
4,1005,AL,Barbour,-0.748,-9.664,24686,-8.797,-0.867,0.161,-5.444590,-4.800965,2.288471,1.828365,31.029196,21.906982,14.236807,46.753105,46.691190,0.389700,0.218524,5.051535,0.939651,-13.193130,-4.106515,28.915663,...,0.011829,3.0,0.0,114.0,325.0,8.848763e+02,3909,27457,6015,530.5,664.0,-1393.0,27169,26937,27327,26755,27341,44.0,-237.0,26283,25806,25157,-2404.0,24872,27455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3267,72145,PR,Vega Baja,NaN,-16.015,50023,NaN,NaN,NaN,-3.660644,NaN,NaN,NaN,1301.069415,25.331031,14.146358,0.561496,0.065368,0.043579,0.000000,99.264188,2.418625,-13.212435,34.482759,52.941176,...,NaN,NaN,NaN,NaN,NaN,4.585612e+01,8440,59662,15113,NaN,NaN,NaN,57857,57063,59562,55942,58688,NaN,NaN,54805,53677,52318,NaN,50136,59662
3268,72147,PR,Vieques,NaN,-9.963,8386,NaN,NaN,NaN,2.141445,NaN,NaN,NaN,183.206073,23.610364,17.008924,4.773680,0.612837,0.043006,0.032255,94.344694,5.063972,143.956044,103.571429,-50.000000,...,NaN,NaN,NaN,NaN,NaN,5.076797e+01,1582,9301,2196,NaN,NaN,NaN,9227,9179,9314,9081,9247,NaN,NaN,8965,8833,8666,NaN,8362,9301
3269,72149,PR,Villalba,NaN,-17.803,21372,NaN,NaN,NaN,-6.591911,NaN,NaN,NaN,731.633998,27.511219,11.030568,0.279983,0.007671,0.026848,0.000000,99.654815,2.891880,-35.964912,100.000000,250.000000,...,NaN,NaN,NaN,NaN,NaN,3.563667e+01,2876,26073,7173,NaN,NaN,NaN,25135,24745,26001,24256,25542,NaN,NaN,23662,23091,22452,NaN,21436,26073
3270,72151,PR,Yabucoa,NaN,-14.765,32282,NaN,NaN,NaN,-3.325180,NaN,NaN,NaN,687.155110,25.007248,12.891068,0.437521,0.131784,0.018450,0.002636,99.327904,8.381434,-19.806763,127.272727,-22.222222,...,NaN,NaN,NaN,NaN,NaN,5.521461e+01,4891,37941,9488,NaN,NaN,NaN,36844,36377,37874,35732,37361,NaN,NaN,35076,34363,33519,NaN,32254,37941
3271,72153,PR,Yauco,NaN,-19.731,33575,NaN,NaN,NaN,-9.358831,NaN,NaN,NaN,616.541626,24.099137,14.715886,0.382941,0.023785,0.049949,0.007136,99.495754,2.728159,-29.385965,-44.444444,61.538462,...,NaN,NaN,NaN,NaN,NaN,6.819166e+01,6187,42043,10132,NaN,NaN,NaN,40249,39492,41828,38535,41036,NaN,NaN,37585,36654,35474,NaN,33853,41947

Creating Variable (The new variable is the number of people per psychiatric hospitals in the counties. To obtain these values, divide the population by the number of psychiatric hospitals in each county in the United States)

In [9]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [ ]:
dj['']

In [30]:
df_hspt = dj[dj['Hospital Type']=='Psychiatric']

In [37]:
t = set(df_hspt['Facility ID'])

In [40]:
a = set(list(map(int,t)))

In [41]:
b = set(dt['People']['FIPS'])#['TotalPopEst2019']

In [ ]:
# dtJ = pd.read_csv(filename, sheet_name="Jobs", dtype={"FIPS": str})
# dtC = pd.read_excel(filename, sheet_name="County Classifications", dtype={"FIPStxt": str})
# dtC = dtC.rename(columns = {"FIPStxt": "FIPS"})

# dt = pd.merge(dtJ,dtC,  on='FIPS')

In [44]:
df_hspt = df_hspt.rename(columns = {"Facility ID": "FIPS"})

In [47]:
df_hspt['FIPS'] = df_hspt['FIPS'].astype('int')

In [53]:
df_pple = dt['People']

In [54]:
df = pd.merge(df_hspt,df_pple,  on='FIPS')

In [119]:
Y = df_hspt.groupby('County Name')['Hospital Type'].count()

In [62]:
df_pple['County'] = df_pple['County'].apply(lambda x:x.upper())

In [120]:
X = df_pple[['FIPS','County','TotalPopEst2019']]

In [121]:
Y = Y.reset_index()

In [122]:
Y = Y.rename(columns = {"County Name": "County"})

In [123]:
X_copy = X.copy()

In [124]:
X = X.groupby('County')['TotalPopEst2019'].sum().reset_index()

In [125]:
df = pd.merge(X,Y,  on='County')

In [126]:
df['people_per_psychiatric'] = df['TotalPopEst2019']/df['Hospital Type']

In [132]:
X_copy[['FIPS','County']]

       FIPS         County
0         0  UNITED STATES
1      1000        ALABAMA
2      1001        AUTAUGA
3      1003        BALDWIN
4      1005        BARBOUR
...     ...            ...
3267  72145      VEGA BAJA
3268  72147        VIEQUES
3269  72149       VILLALBA
3270  72151        YABUCOA
3271  72153          YAUCO

[3272 rows x 2 columns]

In [133]:
df = pd.merge(X_copy[['FIPS','County']],df,  on='County')

In [135]:
df_final = df[['FIPS','people_per_psychiatric']]

In [136]:
df_final

       FIPS  people_per_psychiatric
0      1003                268124.0
1     13009                268124.0
2      1013                735158.0
3     19023                735158.0
4     20015                735158.0
...     ...                     ...
1045  55133                202099.0
1046  56025                 79858.0
1047  72009                 22108.0
1048  72023                 47515.0
1049  72041                 38307.0

[1050 rows x 2 columns]

Creating choropleth for the variable that has to be done above

In [7]:
dt = dt.dropna() # first we have to clean our data by dropping NA values if there are any
dt

   Data download for the Atlas of Rural and Small-Town America Unnamed: 1
21  11.0 - In September 2015, the American Communi...

In [8]:
dt.reset_index() #removing gaps from index column if there ar any

,index,Data download for the Atlas of Rural and Small-Town America,Unnamed: 1
0,21,"11.0 - In September 2015, the American Communi...",

In [97]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [100]:
counties["features"][10]

{'type': 'Feature',
 'properties': {'GEO_ID': '0500000US01099',
  'STATE': '01',
  'COUNTY': '099',
  'NAME': 'Monroe',
  'LSAD': 'County',
  'CENSUSAREA': 1025.675},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-86.905899, 31.753035],
    [-87.052284, 31.716761],
    [-87.135051, 31.642417],
    [-87.166581, 31.519561],
    [-87.427455, 31.260386],
    [-87.61589, 31.244458],
    [-87.765152, 31.297346],
    [-87.784796, 31.324672],
    [-87.665572, 31.423166],
    [-87.603137, 31.409556],
    [-87.565413, 31.553573],
    [-87.566841, 31.697115],
    [-87.516131, 31.697824],
    [-87.50093, 31.829251],
    [-86.906899, 31.830628],
    [-86.905899, 31.753035]]]},
 'id': '01099'}

In [ ]:
import plotly.express as px

fig = px.choropleth_mapbox(df_final, geojson=counties, locations='FIPS', color='people_per_psychiatric',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           labels={'people_per_psychiatric':'number of people per psychiatric hospitals in the counties'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

Now this is the actual code for the chorolopleth using the ploty package

In [9]:
fig = px.choropleth_mapbox(dt, geojson=counties, locations='FIPS', color='PctEmpChange1819',
                           color_continuous_scale="jet",
                           range_color=(-10, 10),
                           mapbox_style="open-street-map",
                           zoom=2.5, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           labels={'PctEmpChange1819':'Unemployment Rate Change<br>(2018-19)'}
                          )

fig.show()

NameError: name 'counties' is not defined

Centering on the #1 main place with psychiatric hospitals (here we have Galesburg but we have to change it to what applies to this activity which is not going to be Galesburg)

In [ ]:
# Centering on Galesburg 

fig = px.choropleth_mapbox(dt, geojson=counties, locations='FIPS', color='Metro2013',
                           mapbox_style="carto-positron",
                           zoom=6, opacity=0.15,
                           center = {"lat": 40.9522, "lon": -90.3686},
                           labels={'Metro2013':'Metro Area<br>(2013)'}
                          )

fig.show()

improving map

In [ ]:

mask = dt["Metro2013"] > 0.500
dt.loc[ mask, "Metro2013c"] = "Metro County"
dt.loc[~mask, "Metro2013c"] = "Non-Metro County"

In [ ]:
# Improving the Map

fig = px.choropleth_mapbox(dt, geojson=counties, locations='FIPS', color='Metro2013c',
                           mapbox_style="carto-positron",
                           zoom=6, opacity=0.5,
                           center = {"lat": 40.9522, "lon": -90.3686},
                           labels={'Metro2013c':'Area Classification'},
                           color_discrete_map={'Metro County':'#880000','Non-Metro County':'#00aa00'},
                           hover_name='County_x'
                          )

fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

fig.show()

In [ ]:
mask = dt["PersistentChildPoverty2004"] > 0.500
dt.loc[ mask,"PersistentChildPoverty2004pn"] = "Persistent"
dt.loc[ ~mask,"PersistentChildPoverty2004pn"] = "Not Persistent"


dt.loc[ pd.isna(dt["PersistentChildPoverty2004"]), "PersistentChildPoverty2004pn"] = "Not Recorded"

In [ ]:
fig = px.choropleth_mapbox(dt, geojson=counties, locations='FIPS', color='PersistentChildPoverty2004pn',
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=1,
                           labels={'PersistentChildPoverty2004pn':'Child Poverty (2004)'},
                           color_discrete_map={'Persistent':'red','Not Persistent':'#008800','Not Recorded':'blue'},
                           hover_name='County_x',
                           category_orders={"PersistentChildPoverty2004pn": ["Persistent","Not Persistent","Not Recorded"]},
                          )

fig.update_traces(marker_line_width=0.5)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

fig.show()

In [ ]:
fig = px.choropleth_mapbox(dt, geojson=counties, locations='FIPS', color='RuralUrbanContinuumCode2013',
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           labels={'RuralUrbanContinuumCode2013':'Rural-Urban Continuum (2004)'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

fig.show()