In [2]:
import pandas as pd
import mt940

In [2]:
transactions = mt940.parse(f'D:\OneDrive - NITT\Custom_Download\sta2023-02-27_104937035_15.sta')

# store all transaction dictionary as list elements
data_list = []
for transaction in transactions:
    data_list.append(transaction.data)

In [7]:
transactions[0].data # 1st transaction

{'status': 'C',
 'funds_code': None,
 'amount': <4531.85 CHF>,
 'id': 'NTRF',
 'customer_reference': 'NONREF',
 'bank_reference': '2023053PH0000937',
 'extra_details': '',
 'currency': 'CHF',
 'date': Date(2023, 2, 22),
 'entry_date': Date(2023, 2, 22),
 'guessed_entry_date': Date(2023, 2, 22),
 'transaction_details': 'A89?'}

In [5]:
df = pd.DataFrame(data_list)

In [6]:
df

,status,funds_code,amount,id,customer_reference,bank_reference,extra_details,currency,date,entry_date,guessed_entry_date,transaction_details
0,C,None,4531.85 CHF,NTRF,NONREF,2023053PH0000937,,CHF,2023-02-22,2023-02-22,2023-02-22,A89?
1,C,None,33 CHF,NTRF,NONREF,9999053ZC8950626,,CHF,2023-02-22,2023-02-22,2023-02-22,Z04?WINCASA AG\nTHEATERSTRASSE 17\nCH/WINTERTH...
2,C,None,121.27 CHF,NTRF,NONREF,9999053ZC9101718,,CHF,2023-02-22,2023-02-22,2023-02-22,Z04?VEREINIGUNG PRO ZUG\nCH/ZUG 6300\nPRO ZUG ...
3,C,None,171.79 CHF,NTRF,NONREF,9901552E67176264,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
4,C,None,183.25 CHF,NTRF,FIL. 102,RT21053SC0934008,UBS ZH-BAHNHOFSTRASSE,CHF,2023-02-22,2023-02-22,2023-02-22,S01?FIL. 102 21.2.23
5,C,None,261.4 CHF,NTRF,FIL. 102,RT21053SC0931005,UBS ZH-BAHNHOFSTRASSE,CHF,2023-02-22,2023-02-22,2023-02-22,S01?FIL. 102 17.02.23
6,C,None,342.6 CHF,NTRF,FIL. 102,RT21053SC0933007,UBS ZH-BAHNHOFSTRASSE,CHF,2023-02-22,2023-02-22,2023-02-22,S01?FIL. 102 15.02.23
7,C,None,456.8 CHF,NTRF,UBS ZH-BAHNHOFST,RT21053SC0930004,,CHF,2023-02-22,2023-02-22,2023-02-22,S01?18.2.2023
8,C,None,525.32 CHF,NTRF,NONREF,9901552E67190317,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
9,C,None,587.05 CHF,NTRF,FIL. 102,RT21053SC0935009,UBS ZH-BAHNHOFSTRASSE,CHF,2023-02-22,2023-02-22,2023-02-22,S01?FIL. 102 20.2.23
10,C,None,627.54 CHF,NTRF,NONREF,9999053ZC9172783,,CHF,2023-02-22,2023-02-22,2023-02-22,Z04?SWISSCARD AECS GMBH\nNEUGASSE 18\nCH/HORGE...
11,C,None,1123.9 CHF,NTRF,FIL. 102,RT21053SC0932006,UBS ZH-BAHNHOFSTRASSE,CHF,2023-02-22,2023-02-22,2023-02-22,S01?FIL. 102 16.2.23
12,C,None,1700.94 CHF,NTRF,NONREF,9901552E67204867,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
13,C,None,3289.21 CHF,NTRF,NONREF,9901553E67454556,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
14,C,None,6061.07 CHF,NTRF,NONREF,9901552E67214560,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
15,C,None,6526.65 CHF,NTRF,NONREF,9901552E67214883,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
16,C,None,11527.34 CHF,NTRF,NONREF,9901552E67217109,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
17,C,None,11712.44 CHF,NTRF,NONREF,9901552E67217150,,CHF,2023-02-22,2023-02-22,2023-02-22,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
18,D,None,-45996.3 CHF,NTRF,51CC48482CCE4812,9901553E44298700,A43AFCC3,CHF,2023-02-22,2023-02-22,2023-02-22,Z38?
19,D,None,-5588.95 EUR,NTRF,D92699DCF2DC4C7F,9901553E14054780,49D11A2D,EUR,2023-02-22,2023-02-22,2023-02-22,Z38?
20,C,None,7596 CHF,NTRF,NONREF,2023054PH0003419,,CHF,2023-02-23,2023-02-23,2023-02-23,A89?
21,C,None,129.16 CHF,NTRF,NONREF,9901553E67474283,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
22,C,None,302 CHF,NTRF,NONREF,9999054ZC9539557,,CHF,2023-02-23,2023-02-23,2023-02-23,Z04?COMMERCIALIS SA 1 AVENUE DU GENERAL-GUISAN...
23,C,None,443.74 CHF,NTRF,NONREF,9901553E67489631,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
24,C,None,997.67 CHF,NTRF,NONREF,9901553E67500642,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
25,C,None,1016.94 CHF,NTRF,NONREF,9901553E67500910,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
26,C,None,1909.55 CHF,NTRF,NONREF,9901553E67507900,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
27,C,None,4311.14 CHF,NTRF,NONREF,9999054ZC9314675,,CHF,2023-02-23,2023-02-23,2023-02-23,Z04?SWISSCARD AECS GMBH\nNEUGASSE 18\nCH/HORGE...
28,C,None,4677.94 CHF,NTRF,NONREF,9901554E67734763,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
29,C,None,5818.18 CHF,NTRF,NONREF,9901553E67514876,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
30,C,None,7434.61 CHF,NTRF,NONREF,9901553E67515630,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
31,C,None,10846.08 CHF,NTRF,NONREF,9901553E67516496,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
32,C,None,14188.3 CHF,NTRF,NONREF,9901553E67516936,,CHF,2023-02-23,2023-02-23,2023-02-23,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
33,D,None,-54645.31 CHF,NTRF,51CC48482CCE4812,9901553E44298800,A43AFCC3,CHF,2023-02-23,2023-02-23,2023-02-23,Z38?
34,C,None,198 EUR,NTRF,KARTE 17488788-0,9930554BN0337921,UBS Zuerich Bahnhofstr 4,EUR,2023-02-22,2023-02-23,2023-02-23,S14?5\nVOM 22.02.23 09:38:19 ID: 23000270\nBET...
35,D,None,-3736.38 EUR,NTRF,D92699DCF2DC4C7F,9901553E14054790,49D11A2D,EUR,2023-02-23,2023-02-23,2023-02-23,Z38?
36,D,None,-81665.26 EUR,NTRF,171E99C1CBD44B2C,9901553E34054770,160751AD,EUR,2023-02-23,2023-02-23,2023-02-23,Z38?
37,C,None,93629.3 CHF,NTRF,NONREF,2023055PH0009161,,CHF,2023-02-24,2023-02-24,2023-02-24,A89?
38,D,None,-56864.56 CHF,NTRF,NONREF,0123055DO6076600,,CHF,2023-02-24,2023-02-24,2023-02-24,Z45?
39,D,None,-58273.6 CHF,NTRF,01963AD2E1094259,9901553E34042870,06FCCCC9,CHF,2023-02-24,2023-02-24,2023-02-24,Z38?
40,D,None,-119482.7 CHF,NTRF,NONREF,0123055DO5980000,,CHF,2023-02-24,2023-02-24,2023-02-24,Z45?
41,C,None,59.05 CHF,NTRF,NONREF,9999055ZC0451167,,CHF,2023-02-24,2023-02-24,2023-02-24,Z04?ETAT DE VAUD DPT DES FINANCES RUE DE LA PA...
42,C,None,74.45 CHF,NTRF,NONREF,9901554E67749210,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
43,C,None,887.49 CHF,NTRF,NONREF,9901554E67779847,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
44,C,None,1143.96 CHF,NTRF,NONREF,9999055ZC0213118,,CHF,2023-02-24,2023-02-24,2023-02-24,Z04?SWISSCARD AECS GMBH\nNEUGASSE 18\nCH/HORGE...
45,C,None,1173.36 CHF,NTRF,NONREF,9901554E67783505,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
46,C,None,2390.01 CHF,NTRF,NONREF,9901554E67790935,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
47,C,None,6544.55 CHF,NTRF,NONREF,9901554E67796559,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
48,C,None,7519.68 CHF,NTRF,NONREF,9901555E67985253,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
49,C,None,9121.85 CHF,NTRF,NONREF,9901554E67797447,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
50,C,None,10253.95 CHF,NTRF,NONREF,9901554E67797713,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
51,C,None,16295.41 CHF,NTRF,NONREF,9901554E67798450,,CHF,2023-02-24,2023-02-24,2023-02-24,Z40?WORLDLINE SCHWEIZ AG\n8005 ZUERICH\n/ROC/2...
52,C,None,180000 CHF,NTRF,NONREF,9999055ZC9617877,,CHF,2023-02-24,2023-02-24,2023-02-24,Z04?SCHUHHAUS WALDER AG\nZURICHSTRASSE 40\nCH/...
53,D,None,-634293.5 CHF,NTRF,E4F8BACCDF2C4B5C,9901553E54105000,7ABF00D2,CHF,2023-02-24,2023-02-24,2023-02-24,Z38?
54,D,None,-3726.2 EUR,NTRF,AB5043D349AA44BA,9901554E14087830,3D98A3F4,EUR,2023-02-24,2023-02-24,2023-02-24,Z38?
55,D,None,-14013.2 CHF,NTRF,NONREF,1870055TI0470369,,CHF,2023-02-24,2023-02-24,2023-02-24,Z45?KANTON Z RICH\nCH 8090 Z RICH\nDIREKTE BUN...

In [ ]:
# für Dataframes
import pandas as pd
# für die Integration in Excel
import xlwings as xw



wb = xw.Book(r'G:\controlling\python\Berichte\Wochenumsatz\Wochenumsatz2022_2.xls')
df = pd.read_csv(r'G:\controlling\python\daten\wochenumsatz.csv',
                 encoding='cp1252',
                 sep=';')

df_dummy = pd.read_csv(r'G:\controlling\python\daten\wochenumsatz_dummy.csv', encoding='cp1252',
                 sep=';')

df_alle = df.append(df_dummy)

# Zeitraum (integer) in String umwandeln
df_alle['ZR'] = df['ZR'].apply(str)
df_alle['ZR'] = df_alle['ZR'].replace("202252","202152")
df_alle['UVKI'] = df_alle['UVKI'].str.replace("'","")
df_alle['UVKI'] = df_alle['UVKI'].astype("float")


# Angaben Jahr in Zeitraum entfernen und in Woche abspeichern

# df['woche'] = df['ZR'].str.replace("2021","")
df_alle['woche'] = df_alle['ZR']

xw.sheets('apollon').range('a5').value = df_alle.pivot_table(index=['woche'], columns=['FIL'], values='UVKI', fill_value=0, aggfunc='sum')

print(df_alle)
print(df_alle.info())

In [8]:
# wochenumsatz_dummy (1)

In [180]:
df = pd.read_csv(r"D:\OneDrive - NITT\Custom_Download\wochenumsatz_dummy (1).csv",sep=';',encoding='unicode_escape')

In [181]:
df['FIL'].values

array([ 95,  96,  99, 101, 102, 103, 105, 107, 114, 117, 120, 126, 139,
       141, 143, 210, 215, 216, 221, 224, 228, 233, 234, 240, 244, 246,
       342, 408, 411, 780, 793, 810], dtype=int64)

In [182]:
df = pd.read_csv(r"D:\OneDrive - NITT\Custom_Download\wochenumsatz (1).csv",sep=';',encoding='unicode_escape')

In [183]:
df.dtypes

ZR               int64
FIL              int64
WAG             object
WAGBEZ          object
UMEN             int64
UVKI            object
RMEN             int64
RVKI            object
SMEN             int64
SVKI            object
KALK_I          object
RG              object
VERLUST         object
Unnamed: 13    float64
dtype: object

In [184]:
df

,ZR,FIL,WAG,WAGBEZ,UMEN,UVKI,RMEN,RVKI,SMEN,SVKI,KALK_I,RG,VERLUST,Unnamed: 13
0,202305,95,0,Warengruppe 0,1,16.90,0,0.00,0,0.00,213.0%,10.29,0.00,NaN
1,202305,95,1,Herren-Schuhe,-3,-495.00,-2,-215.00,6,963.00,0.0%,-239.16,-145.00,NaN
2,202305,95,2,Damen-Schuhe,13,1'073.50,0,-598.50,41,6'678.00,271.8%,707.99,28.50,NaN
3,202305,95,3,Sport&Freizeit,1,109.00,0,0.00,0,0.00,195.7%,64.35,0.00,NaN
4,202305,95,4,Kinder + Sport 16 - 42,49,3'393.60,33,1'746.50,20,1'876.40,82.1%,1'287.10,1'558.50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,202308,793,3,Sport&Freizeit,1,35.00,1,35.00,0,0.00,41.9%,7.84,35.00,NaN
768,202308,793,4,Kinder + Sport 16 - 42,113,6'288.20,113,6'288.20,1,60.00,49.8%,1'640.30,5'053.80,NaN
769,202308,793,5,Heim- und Freizeitschuhe H & D,10,572.00,10,572.00,0,0.00,47.8%,144.06,416.00,NaN
770,202308,793,6,Heim- und Freizeitschuhe Kinder,46,922.90,46,922.90,1,19.00,45.5%,222.64,900.10,NaN
771,202308,793,9,Taschen & Accessoires & Textil,38,989.05,38,989.05,0,0.00,46.1%,241.33,840.75,NaN

In [185]:
df['UVKI'] = df['UVKI'].str.replace("'","")
df['UVKI'] = df['UVKI'].astype("float")

In [186]:
ddf = df.groupby(['FIL','ZR'])['UVKI'].sum()

In [187]:
ddf = ddf.reset_index()

In [188]:
set(ddf['FIL'])

{95,
 96,
 101,
 102,
 103,
 105,
 107,
 114,
 117,
 120,
 126,
 139,
 141,
 143,
 210,
 215,
 216,
 221,
 224,
 228,
 233,
 234,
 240,
 244,
 246,
 342,
 408,
 411,
 780,
 793,
 810}

In [189]:
len(ddf[ddf['FIL']==96])

2

In [190]:
th = ddf['ZR'].max() - ddf['ZR'].min() + 1

In [191]:
th

4

In [192]:
ddf['ZR']

0      202305
1      202306
2      202307
3      202308
4      202307
        ...
110    202306
111    202307
112    202308
113    202306
114    202307
Name: ZR, Length: 115, dtype: int64

In [193]:
ddf

     FIL      ZR      UVKI
0     95  202305   5089.70
1     95  202306  12339.65
2     95  202307  13527.80
3     95  202308  14003.00
4     96  202307      0.00
..   ...     ...       ...
110  793  202306  11380.35
111  793  202307  11770.50
112  793  202308  18339.10
113  810  202306      0.00
114  810  202307     81.00

[115 rows x 3 columns]

In [194]:
weeks = list(range(202305,202305+th))

In [195]:
weeks

[202305, 202306, 202307, 202308]

In [196]:
for s_no in sorted(set(ddf['FIL'])):
    l = len(ddf[ddf['FIL']==s_no])
    if l<th:
        print(s_no)
        for w in weeks:
            if w not in list(ddf[ddf['FIL']==s_no]['ZR']):
                dummy_data = [s_no,w,0]
#                 print(dummy_data)
                
                ddf.loc[len(ddf)] = dummy_data  # adding a row

96
143
780
810

In [197]:
ddf = ddf.sort_values(['FIL','ZR'])

In [198]:
ddf

     FIL      ZR      UVKI
0     95  202305   5089.70
1     95  202306  12339.65
2     95  202307  13527.80
3     95  202308  14003.00
115   96  202305      0.00
..   ...     ...       ...
112  793  202308  18339.10
122  810  202305      0.00
113  810  202306      0.00
114  810  202307     81.00
123  810  202308      0.00

[124 rows x 3 columns]

In [199]:
ddf = ddf.pivot_table(index=['ZR'], columns=['FIL'], values='UVKI', fill_value=0, aggfunc='sum')

In [200]:
ddf = ddf.reset_index()

In [201]:
ddf = ddf.rename(columns={"ZR": "woche"})

In [202]:
ddf

FIL,woche,95,96,101,102,103,105,107,114,117,...,234,240,244,246,342,408,411,780,793,810
0,202305,5089.70,0.0,28997.50,20701.90,4944.65,3795.10,17042.55,7764.20,10955.55,...,10073.75,7297.95,5932.45,3294.05,2289.95,8988.75,8668.25,0,9075.25,0
1,202306,12339.65,0.0,32769.00,22751.20,6392.05,3632.40,18359.60,10306.90,9735.65,...,6329.60,10233.10,5141.00,3676.30,4163.90,9858.55,8971.90,0,11380.35,0
2,202307,13527.80,0.0,37711.45,26089.55,6447.90,3242.25,20784.20,6402.95,7419.15,...,10552.15,7211.10,7234.30,6785.75,4523.80,10189.80,11210.15,159,11770.50,81
3,202308,14003.00,498.6,44141.70,32758.55,8656.50,3625.85,24098.30,19100.25,9318.50,...,13739.45,12873.60,9064.40,6848.55,5372.55,15915.85,20536.55,0,18339.10,0

In [203]:
ddf.rename_axis(None, axis=1,inplace=True)

In [209]:
ddf["Total"] = ddf[list(ddf)[1:]].sum(axis=1)

In [211]:
ddf.loc[len(ddf)] = [float("NaN")]*ddf.shape[1]

In [212]:
ddf

,woche,95,96,101,102,103,105,107,114,117,...,240,244,246,342,408,411,780,793,810,Total
0,202305.0,5089.70,0.0,28997.50,20701.90,4944.65,3795.10,17042.55,7764.20,10955.55,...,7297.95,5932.45,3294.05,2289.95,8988.75,8668.25,0.0,9075.25,0.0,283046.15
1,202306.0,12339.65,0.0,32769.00,22751.20,6392.05,3632.40,18359.60,10306.90,9735.65,...,10233.10,5141.00,3676.30,4163.90,9858.55,8971.90,0.0,11380.35,0.0,336104.65
2,202307.0,13527.80,0.0,37711.45,26089.55,6447.90,3242.25,20784.20,6402.95,7419.15,...,7211.10,7234.30,6785.75,4523.80,10189.80,11210.15,159.0,11770.50,81.0,350590.00
3,202308.0,14003.00,498.6,44141.70,32758.55,8656.50,3625.85,24098.30,19100.25,9318.50,...,12873.60,9064.40,6848.55,5372.55,15915.85,20536.55,0.0,18339.10,0.0,507389.15
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
ddf.loc[len(ddf)] = ['Total']+list(ddf.sum())[1:]

In [214]:
ddf

,woche,95,96,101,102,103,105,107,114,117,...,240,244,246,342,408,411,780,793,810,Total
0,202305.0,5089.70,0.0,28997.50,20701.90,4944.65,3795.10,17042.55,7764.20,10955.55,...,7297.95,5932.45,3294.05,2289.95,8988.75,8668.25,0.0,9075.25,0.0,283046.15
1,202306.0,12339.65,0.0,32769.00,22751.20,6392.05,3632.40,18359.60,10306.90,9735.65,...,10233.10,5141.00,3676.30,4163.90,9858.55,8971.90,0.0,11380.35,0.0,336104.65
2,202307.0,13527.80,0.0,37711.45,26089.55,6447.90,3242.25,20784.20,6402.95,7419.15,...,7211.10,7234.30,6785.75,4523.80,10189.80,11210.15,159.0,11770.50,81.0,350590.00
3,202308.0,14003.00,498.6,44141.70,32758.55,8656.50,3625.85,24098.30,19100.25,9318.50,...,12873.60,9064.40,6848.55,5372.55,15915.85,20536.55,0.0,18339.10,0.0,507389.15
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,44960.15,498.6,143619.65,102301.20,26441.10,14295.60,80284.65,43574.30,37428.85,...,37615.75,27372.15,20604.65,16350.20,44952.95,49386.85,159.0,50565.20,81.0,1477129.95

In [23]:
import xlwings as xw

In [24]:
wb = xw.Book(r"D:\OneDrive - NITT\Custom_Download\wochenumsatz2023_1.xls")

In [25]:
d_ex = pd.read_excel(r"D:\OneDrive - NITT\Custom_Download\wochenumsatz2023_1.xls",sheet_name='apollon')

In [26]:
d_ex

,Direkt aus Apollon importiert (keine Handeingaben),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,woche,95.00,96.0,99.0,101.00,102.00,103.00,105.00,107.00,114.00,...,342.00,408.00,411.00,780.0,793.00,810.0,Spalte34,Spalte35,Spalte36,Total
3,202305,5089.70,0.0,0.0,28997.50,20701.90,4944.65,3795.10,17042.55,7764.20,...,2289.95,8988.75,8668.25,0.0,9075.25,0.0,NaN,NaN,NaN,283046.15
4,202306,12339.65,0.0,0.0,32769.00,22751.20,6392.05,3632.40,18359.60,10306.90,...,4163.90,9858.55,8971.90,0.0,11380.35,0.0,NaN,NaN,NaN,336104.65
5,202307,13527.80,0.0,0.0,37711.45,26089.55,6447.90,3242.25,20784.20,6402.95,...,4523.80,10189.80,11210.15,159.0,11770.50,81.0,NaN,NaN,NaN,350590.0
6,202308,14003.00,498.6,0.0,44141.70,32758.55,8656.50,3625.85,24098.30,19100.25,...,5372.55,15915.85,20536.55,0.0,18339.10,0.0,NaN,NaN,NaN,507389.15
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
32,Total,44960.15,498.6,0.0,143619.65,102301.20,26441.10,14295.60,80284.65,43574.30,...,16350.20,44952.95,49386.85,159.0,50565.20,81.0,0,0,0,1477129.95

In [ ]:
xw.sheets('apollon').range('a5').value

In [157]:
sheet = wb.sheets['apollon']

In [173]:
sheet['A']

com_error: (-2147352567, 'Exception occurred.', (0, None, None, None, 0, -2146827284), None)

In [169]:
sheet['A5:AK5'].value

[202305.0,
 5089.7,
 0.0,
 0.0,
 28997.5,
 20701.9,
 4944.65,
 3795.1000000000004,
 17042.55,
 7764.2,
 10955.55,
 22196.45,
 8058.35,
 5855.299999999999,
 10305.8,
 0.0,
 7802.65,
 23533.95,
 5734.7,
 14680.2,
 8495.2,
 6154.25,
 15317.75,
 10073.75,
 7297.950000000001,
 5932.45,
 3294.05,
 2289.95,
 8988.75,
 8668.25,
 0.0,
 9075.25,
 0.0,
 None,
 None,
 None,
 283046.15]

In [ ]:
ws = wb.worksheets[0]

# Append 2 new Rows - Columns A - D
for row_data in new_row_data:
    # Append Row Values
    ws.append(row_data)