In [3]:
import pandas as pd

df = pd.read_csv('D:\OneDrive - NITT\Custom_Download\eye_color.csv')

In [4]:
df

,gender,age,year,eyecolor,height,miles,brothers,sisters,computertime,exercise,exercisehours,musiccds,playgames,watchtv
0,female,18,first,hazel,68.0,195.0,0,1,20.0,Yes,3.0,75.0,6.0,18.0
1,male,20,third,brown,70.0,120.0,3,0,24.0,No,0.0,50.0,0.0,3.0
2,female,18,first,green,67.0,200.0,0,1,35.0,Yes,3.0,53.0,8.0,1.0
3,male,23,fourth,hazel,74.0,140.0,1,1,5.0,Yes,25.0,50.0,0.0,7.0
4,female,19,second,blue,62.0,60.0,0,1,5.0,Yes,4.0,30.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,female,21,fourth,hazel,63.0,180.0,2,1,15.0,No,0.0,3.0,1.0,1.0
2064,female,20,third,green,64.0,90.0,0,2,12.0,Yes,12.0,100.0,1.0,5.0
2065,female,18,first,blue,66.0,110.0,0,1,14.0,No,0.0,239.0,2.0,10.0
2066,male,19,second,blue,73.0,140.0,0,1,4.0,Yes,6.0,45.0,7.0,12.0
2067,female,24,other,green,64.0,141.2,0,3,40.0,No,0.0,80.0,1.0,0.0

In [1]:

from sklearn.tree import DecisionTreeClassifier, export_text

# Creating a DataFrame with the provided dataset
data = {
    'gender': ['female', 'male', 'female', 'male', 'female', 'male', 'male', 'male', 'female', 'male',
               'male', 'female', 'male', 'female', 'male', 'male', 'female', 'male', 'female', 'male',
               'female', 'female', 'female', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
               'female', 'female', 'female', 'male', 'female', 'male', 'female', 'male', 'female', 'female'],
    'eyecolor': ['hazel', 'brown', 'green', 'hazel', 'blue', 'green', 'brown', 'brown', 'brown', 'blue',
                 'blue', 'blue', 'brown', 'green', 'blue', 'brown', 'brown', 'blue', 'hazel', 'hazel',
                 'blue', 'hazel', 'blue', 'green', 'blue', 'brown', 'blue', 'hazel', 'blue', 'hazel',
                 'blue', 'hazel', 'blue', 'hazel', 'green', 'blue', 'hazel', 'blue', 'brown', 'blue', 'hazel'],
}

df = pd.DataFrame(data)

# Convert categorical variables to numerical
df['gender'] = df['gender'].map({'female': 0, 'male': 1})

# Features and target variable
X = df[['eyecolor']]
y = df['gender']

# Decision Tree model
dt_model = DecisionTreeClassifier(criterion='gini', random_state=42)
dt_model.fit(X, y)

# Display the decision tree rules
tree_rules = export_text(dt_model, feature_names=['eyecolor'])
print(tree_rules)

ValueError: All arrays must be of the same length