In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("D:\OneDrive - NITT\Custom_Download\output.txt",sep='\t',header=None)

In [11]:
df = df[[1,2]]

In [13]:
df.columns = ['label','text']

In [14]:
df

      label                                               text
0         0  Le infrastrutture come fattore di competitivit...
1         0  Negli ultimi anni la dinamica dei polo di attr...
2         0  Il raggiungimento e il mantenimento di posizio...
3         0  Quest'ultimo è funzione di variabili struttura...
4         1  Il contesto milanese, se da un lato è stato te...
...     ...                                                ...
9753      0  Scrooge era il suo unico esecutore testamentar...
9754      1  Anzi il nostro Scrooge, che per verità il tris...
9755      0  Il ricordo dei funerali mi fa tornare al punto...
9756      0        Non c'è dunque dubbio che Marley era morto.
9757      0  Questo mettiamolo bene in sodo, se no niente d...

[9758 rows x 2 columns]